@charset "utf-8";
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/sourcesanspro/v23/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*--- LES NEWS DEFILANTS (ce div est contenu dans le div actualites --------*/
 #div_container {
	position:relative;
	left:0px;
	top:-2px;
	width:138px;
	height:196px;
	z-index:1;
	border:solid 1px  #909;
	padding:5px;
	background-color:#888888 ; /*-couleur du cadre #7cb3ea-*/
	
}
/* --------------- MENU TOPBAR ----------------*/
div#menu_haut{ 
background-color:#009;
 /*----------border-bottom:0.3em----*/
border-bottom:0.0em solid; border-color:#FFF;}

div#menu_haut a {
color:#FFFFFF;} 

div#menu_haut ul {
list-style-type:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
margin-bottom:0px;
margin-top:opx;
padding: 0; margin:0px; background-color: #009; 
text-align:center;
display:block;
float:right;
top:0px;
} 

div#menu_haut li {
list-style-type:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
background-color:#009;
display:block;
float:right;
top:0px;} 

div#menu_haut li:hover {
text-transform:uppercase;
background-color:#009;
} 

/* rajout pr pour flèche direction bas et couleur de fond*/ 
div#menu_haut li.plop { background-color:#009;} 

/* une petite bordure en top*/ 
div#menu_haut ul li {
position:relative; list-style: none; float:left;} 

div#menu_haut li a {text-decoration: none; padding: 4px 0 4px; display:block;width:95px; } 
div#menu_haut li a:hover {text-transform:uppercase; color:#e5680e;} 


/*  ------------------  MENU PRINCIPAL --------------------*/



div#menu_bas a {
color:#FFFFFF; } 

div#menu_bas ul {
list-style-type:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
margin-bottom:0px;
margin-top:opx;
padding: 0px; margin:0px; background-color: #009; text-align:left;
display:block;
float:left;
} 

div#menu_bas li {
list-style-type:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
background-color:#009;
display:block;
float:left;} 

div#menu_bas li:hover { background-color:#009;} 

div#menu_bas li.sousmenu:hover {background-color:#ff9966;}
	

 /*rajout couleur de fond */ 
div#menu_bas li.sousmenu { background-color: #009;} 


/* rajout pr pour flèche direction bas et couleur de fond*/ 
div#menu_bas li.plop { background-color:#009; z-index:100;} /* pour que le menu soit au dessus du slidshow on augmente le z-index*/

/* une petite bordure en top*/ 
div#menu_bas ul  {
position:relative; list-style: none; float:left; border-top:hidden;} 
div#menu_bas  li {
position:relative; list-style: none; float:left; border-top:0.0em solid; border-color:#FFF;} /* bordure a 0p*/

div#menu_bas ul ul { position:absolute; display:none; width:auto;} 
div#menu_bas li a {text-decoration: none; padding: 4px 0 4px; display:block;width:15.8333em; margin:0px;} /*Avant 15.8333em sans contacts*/
div#menu_bas ul.niveau1 li.sousmenu:hover ul.niveau2 {display:block;}

/*div#menu ul.niveau2 li.sousmenu:hover ul.niveau3  
div#menu ul.niveau3 {top:-1px; left: 135px;} 

 rajout de couleures de fond et de survol*/  
div#menu ul.niveau3 li { background-color: #009;} 
div#menu ul.niveau3 li:hover { background-color: #009;}


/* ------------------- DATE ------------------------*/
div#date {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#FF7F50;
	font-style:normal;
	text-transform:capitalize;
	}
div#date_index {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#FFF;
	font-style:normal;
	text-transform:capitalize;
	}	
div#contact_index {
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#FFF;
	font-style:normal;
	}		
	
	
/* ------------------- LIAISON ------------------------*/
div#liaison a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#FF7F50;
	font-style:normal;
	
	text-decoration:none;
	}

div#produits H2 {
	font-family:Verdana, Geneva, sans-serif;
	color:#e5680e;
	text-decoration:none;
	font-weight:bold;
		} 
		
div#produits li a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	text-transform:capitalize;
	text-decoration:none;
		} 
/*----------------- PETIT MENU----------------------------*/
div#petit_menu {
		color:#003786;
		text-decoration:none;}
div#petit_menu a {
		color:#003786;} 
div#petit_menu vlink a {
		color:#e5680e;} 
		

/*----------------- FIN PETIT MENU ----------------------*/



/*----------------- TITRES & SOUS-TITRE ---------------------------*/
.titres {font-family:Verdana, Geneva, sans-serif; 
         color:#FF7F50; font-weight:600; font-size:16px;}
.sous-titres {font-family:Verdana, Geneva, sans-serif; color:#003786; font-weight:600; font-size:14px; }
.souligne {color:#e5680e; text-decoration:underline;}
.orange{color:#e5680e;}
.sous-titres1 {color:#e5680e; text-align:center;}
.crose{color:#e5680e;}


.statut a{ font-size:14px; color:#00378B; font-family:Arial, Helvetica, sans-serif; font-weight:600; text-align:left;
text-decoration:none; outline:none;}
.statut link vlink alink {color:#00378B;}
 
.texte{font-size:14px; color:#00378B; 
font-family:Verdana, Geneva, sans-serif;
font-weight:400; text-align:justify; 
/* font-family:Arial, Helvetica, sans-serif; 
font-family:Tahoma, Geneva, sans-serif; */

}
.lientexte {
	color:#00378B;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
		 }
.lientexte a {
		color:#00378B;
		text-decoration:none;
		outline:none;
		} 
/* ------------------- LIEN DU PIED DE PAGE ACCES_RAPIDE --------------*/	
.espacecellule {border-spacing:0.5em}
.titres-accesrapide {font-family:Verdana, Geneva, sans-serif; 
         color:#003786; font-weight:600; font-size:16px;}
.sous-titres-accesrapide {font-family:Verdana, Geneva, sans-serif; color:#FF7F50; font-weight:600; font-size:14px; }
.lien-accesrapide {
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		color: #000;
		text-decoration:none;
		outline:none;
		}

		 
	

/* ------------------- LIEN DU PIED DE PAGE--------------*/
div#lien {
		color:#666;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		}
div#lien a {
		color:#666;
		text-decoration:none;
		outline:none;} 
.texte_agence{font-size:11px; color:#00378B; 
font-family:Verdana, Geneva, sans-serif;
padding:0.5em}
.texte_agence_entete{font-size:13px; color:#FFF; 
font-family:Verdana, Geneva, sans-serif;}
/*----------------FIN SOUS-TITRE ---------------------*/

/*----------------FORMULAIRE ---------------------*/
.texte_label{font-size:12px; color:#00378B; 
font-family:Verdana, Geneva, sans-serif;}
.etoile_blanche{font-size:12px; color:#FF7F50; 
font-family:Verdana, Geneva, sans-serif;}
.texte_agence_entete{font-size:10px; color:#FFF; 
font-family:Verdana, Geneva, sans-serif;}
.nb{font-family:Verdana, Geneva, sans-serif; font-size:9px; color: #FF7F50;}

/*----------------FIN FORMULAIRE ---------------------*/

/*----------------LIEN ENVOYEZ MAIL ---------------------*/
div#lien_contacts {
		color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		}
/* ---------------- CSS VIDEO --------------*/
.Rvideo-box 
	{
	background-color: #000000;
	text-align: center;
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 100%;
	max-width: 520px;
	height: auto;
	border: 1px solid #000000;
	}

.Rvideo-box video 
	{
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	margin: 0px;
	}

.Rvideo-caption 
	{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 8px 5px 8px 5px;
	}

.Rvideo-nosupport
	{
	color: #FFFFFF;
	padding-top: 110px;
	padding-bottom: 110px;
	}

/* ----------------FIN CSS VIDEO ----------*/